<main>
  <h1>Structural Directives</h1>
  <section class="banner" *hideAfterDelay="5000 as time ;then permanent;let counter=counter">
    <h2>Temporary Content </h2>
    <p>Loading your content in {{counter}} seconds</p>
  </section>
</main>
<ng-template #permanent let-hiddenAfter="hideAfterDelay">
  <section class="banner">
    <h2>Permanent Content is visible after {{hiddenAfter/1000}} seconds</h2>
    <p>Hi Sanjay</p>
  </section>
 
</ng-template>


<ng-template #user let-name="username" let-hobbies="userHobbies">
  <h1>{{name}}</h1>
  <ul>
    <li *ngFor="let hobbie of hobbies">
      {{hobbie}}
    </li>
  </ul>
</ng-template>

<div *ngTemplateOutlet="user;context:{username:'Sanjay',userHobbies:['Coding','Workout']}">

</div>

<app-pass-ng-template-via-input-binding
[userTemplate]="user"
></app-pass-ng-template-via-input-binding>
 

 <div>
   <h1 *appHideContentAfter="5000 as timer;later skill;let counter=counter; let val">
     Sanjay skill will appear in {{counter/1000}} seconds. total timer is {{val}}</h1>
 </div>

 <ng-template #skill>
   <h1>
     He is a Frontend Engineer
   </h1>
 </ng-template>